<header>
    <nav>
        <div class="row">
            <img src="/resources/img/logo-white.png" alt="Omnifood logo" class="logo">
            <img src="/resources/img/logo.png" alt="Omnifood logo" class="logo-black">
            <ul class="main-nav js--main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/addProperty">New</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>


</header>