<% layout('/layouts/boilerplateAllPages')  %>


<section class="section-features js--section-features" id="features">
    <div class="row">
        <h2>About us</h2>
        <p class="long-copy">
          WE ARE BUILD MORE
        </p>
    </div>

    <div class="row js--wp-1">
        <div class="col span-1-of-4 box">
            <h3><b> CEO - Faizan Alam </b></h3>
            <p>
                Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You
                can also choose to order more flexibly if that's your style.
            </p>
        </div>
        <div class="col span-1-of-4 box">
         
        </div>
        <div class="col span-1-of-4 box">
            <img src="/resources/img/lisbon-3.jpg" alt="Lisbon">
        </div>
        <div class="col span-1-of-4 box">

        </div>
    </div>
</section>