<% layout('/layouts/boilerplateAllPages')  %>


<section class="section-features js--section-features" id="features">
    <div class="row">
        <h2> ABOUT US</h2>
        <p class="long-copy">
            Hello, we're BUILDMORE, your new premium food delivery service. We know you're always busy. No time for
            cooking. So let us take care of that, we're really good at it, we promise!
        </p>
    </div>

    <div class="row js--wp-1">
        <div class="col span-1-of-4 box">
            <h3><b> CEO - Faizan Alam </b></h3>
            <p>
                Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You
                can also choose to order more flexibly if that's your style.
            </p>
        </div>
        <div class="col span-1-of-4 box">
         
        </div>
        <div class="col span-1-of-4 box">
            <h3>100% organic</h3>
            <p>
                All our vegetables are fresh, organic and local. Animals are raised without added hormones or
                antibiotics. Good for your health, the environment, and it also tastes better!
            </p>
        </div>
        <div class="col span-1-of-4 box">

        </div>
    </div>
</section>